:root{
    --color-light:#FFFFFF;
    --color-dark: #1F1F1F;
    --color-orange:#EF7303;
}
.calculator{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 90%;
    padding: 24px;    
    box-shadow: none;
}
.lightTheme{
    background: var(--color-light);
}
.darkTheme{
    background: var(--color-dark);
}
.darkTheme #operation-buttons-column{
    background: linear-gradient(0deg, #282828, #282828);   
}
#operation-buttons-column{
    background: linear-gradient(0deg, #F5F5F5, #F5F5F5);
    border-radius: 18px;
}
.themeButton img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 31px;
    top: 60px;
    font-size: 10px;
    background-color: transparent;
    border-radius: 100%;
    z-index: 5;
}
.darkTheme .themeButton img{
    color: #FFFFFF;
    border-radius: 100%;  
}
.operation{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center; 
    letter-spacing: 0.02em;
    color: #1F1F1F;
}
.key-board{
    display: flex;
    flex-direction: row;
    border-top: solid 0.5px #cccccccc;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15.5px;
}
.numbers-column{
    display: flex;
    flex-direction: column;
}
theme-icon{
    height: 40vmin;
}
