.button{
    padding: 16px 36px;


    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 18px;
    color: #1F1F1F;
    background: transparent;
}
.button:active{
    background: #d4d3d3;
}

.orange-label{
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #EF7303;
}

.equal{
    background: #EF7303;
    color:#ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.02em;
    
}
.equal:active{
    background: #a04c02;
}