@font-face{
  font-family: "SFProDisplay";
  src: url('./fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
}

*{
  font-family: "SFProDisplay",monospace;
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #cacaca,#fff);
  padding: 1%;
}

